<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.toocms.tab.share">

    <!-- Android11适配 -->
    <queries>
        <!-- 指定微信包名 -->
        <package android:name="com.tencent.mm" />
        <!-- 指定qq包名 -->
        <package android:name="com.tencent.mobileqq" />
    </queries>

    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>
</manifest>